<html>
  <head>
    <meta charset="utf-8" />
    <title>Example App</title>
  </head>
  <body>
    <h1 class="App">
      <header>
        header
      </header>
      <container>
        {{{body}}}
      </container>
      <footer>
        footer
      </footer>
    </h1>

  </body>
</html>